<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
        <title>WEEK6_3</title>
    </head>
    <body>
        <div id="dynamic">
            <form>
                <select v-model="clicked">
                    <option v-for="choice in choices" :value="choice.value">
                       {{choice.info}}
                    </option>
                </select><br>
                <span>clicked:{{clicked}}</span>
            </form>
        </div>
        <br>
        <br>
        <br>

    </body>
<script src="weeks6_3.js"></script>
</html>